## Trabalho 3 - Redes complexas
# Algoritmo e estrutura de dados 2

Trabalho realizado por : 
Caio Uehara Martins
nUSP 13672022

Professor: 
EVANDROE.S.RUIZ
DCM, FFCLRP

Dataset:
https://snap.stanford.edu/data/feather-deezer-social.html

In [1]:
#Importanto as bibliotecas

#bibliotecas de estrutura de dados
import pandas as pd
import numpy as np

#bibliotecas para auxílio de sistema
import json
import os 

#biblioteca para grafos
import networkx

In [4]:
#Carregando os dados
bronze_data_edges = pd.read_csv(os.path.relpath("../data/deezer_europe_edges.csv"))

with open(os.path.relpath("../data/deezer_europe_features.json")) as f:
   content = json.load(f)
   nodes = content.keys()
   
bronze_data_nodes = pd.DataFrame(nodes)

display(bronze_data_edges, bronze_data_nodes)

       node_1  node_2
0           0   14270
1           0   16976
2           0   12029
3           0    3001
4           0   14581
...       ...     ...
92747   28051   28179
92748   28083   28111
92749   28100   28128
92750   28194   28246
92751   28212   28259

[92752 rows x 2 columns]

           0
0          0
1          1
2          2
3          3
4          4
...      ...
28276  28276
28277  28277
28278  28278
28279  28279
28280  28280

[28281 rows x 1 columns]